<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estrazione lettere</title>

    <!--Script VUE-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="azioni">
      <div></div>
      <button onclick="estrai()">Estrai</button>
      <div></div>
      <select name="alfabeto" id="alfabeto"></select>
      <div></div>
      <input type="time" name="tempo" id="tempo">
      <div></div>
    </div>
    <div id="dati">
      <ul id="disponibili">
        <li v-for="disponibile in disponibili">{{ disponibile }}</li>
      </ul>
      <h1 id="estratta">{{ estratta }}</h1>
      <h1 id="timer">{{ timer }}</h1>
      <ul id="fatte">
        <li v-for="fatta in fatte">{{ fatta }}</li>
      </ul>
    </div>
    <audio src="start.mp3" id="audioS" hidden></audio>
    <audio src="end.mp3" id="audioE" hidden></audio>
  </body>

  <script src="Alfabeti.js"></script>
  <script src="script.js"></script>
</html>
